# fly.toml app configuration file generated for lumentech-monitor on 2024-01-30T17:00:00-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "lumentech-monitor"
primary_region = "gru" # Sao Paulo

[build]

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
